*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  background: #000;
  color: #999;
}

h1,
h2,
h3,
h4 {
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #999;
}

img {
  width: 100%;
}
